/* GENERAL */

body {
  font-family: 'lato', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: bold;
}

ul,
ol {
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
}

section {
  padding: 45px 0 80px 0;
}

section .heading {
  text-align: center;
  padding-bottom: 40px;
}

section .heading h2 {
  text-transform: uppercase;
}

.img-circle {
  width: 200px;
}

.red-divider {
  width: 100px;
  height: 2px;
  background: #d82c2e;
  margin: 20px auto;
}

.white-divider {
  width: 100px;
  height: 2px;
  background: #fff;
  margin: 20px auto;
}

.button1 {
  text-transform: uppercase;
  font-weight: bold;
  color: white;
  border: 1px solid white;
  display: inline-block;
  margin-top: 20px;
  padding: 18px 50px;
  border-radius: 3px;
  transition: all 0.3s ease-in 0s;
  background: transparent;
}

.button1:hover {
  background: white;
  color: #d82c2e;
  text-decoration: none;
}

/* MENU */
.navbar {
  background-color: #d82c2e !important;
  font-size: 1.1rem;
  border-bottom: 1px solid #fff;
  font-weight: bold;
  letter-spacing: 2px;
}

.navbar .navbar-nav a {
  display: inline-block;
  background-color: #d82c2e;
  text-transform: uppercase;
}

.nav-link {
  margin-left: 30px;
}

.active {
  color: #d82c2e !important;
  background: #fff !important;
  border-radius: 7px;
}

/* ABOUT */
#about {
  padding-top: 50px;
  background-color: #d82c2e !important;
}

.profile-picture {
  text-align: center;
  margin: 0 auto;
  float: none;
}

#about .heading h1 {
  padding-top: 20px;
  color: #fff;
  text-transform: uppercase;
}

.education-block h3 {
  color: #d82c2e;
}

.timeline-heading h3 {
  margin-top: 5px;
  font-size: 20px;
}

#about .heading h3 {
  padding-top: 10px;
  color: #333;
}

/* SKILLS */
#skills {
  background: #fff;
}

#skills .heading h2 {
  color: #d82c2e;
}

.education-block h5 {
  color: #888;
  font-size: 15px;
  margin-bottom: 15px;
}

#skills .progress {
  height: 40px;
  margin: 30px 20px;
  background: #ddd;
}

#skills .progress-bar {
  background: #d82c2e;
}

footer h5 {
  color: #fff;
  font-weight: normal;
}

#skills .progress h5 {
  text-shadow: 1px 1px 1px #000;
  font-size: 1rem;
}

/* EXPERIENCE PROFESSIONNELLE */
#experience {
  background: #d82c2e;
}

#experience a {
  text-decoration: none;
  color: #d82c2e;
}

#experience a:visited {
  text-decoration: none;
  color: #d82c2e;
}

#experience .heading h2 {
  color: #fff;
}

.timeline {
  padding: 30px 10px;
  position: relative;
}

.timeline::before {
  top: 0;
  bottom: 0;
  position: absolute;
  content: " ";
  width: 5px;
  background: #333;
  left: 50%;
  margin-left: -2.5px;
}

.timeline > li {
  margin-bottom: 20px;
  position: relative;
}

.timeline > li::after {
  clear: both;
}

.timeline > li::before,
.timeline > li::after {
  content: " ";
  display: table;
}

.timeline li .timeline-badge {
  color: #d82c2e;
  width: 50px;
  line-height: 50px;
  font-size: 20px;
  text-align: center;
  position: absolute;
  top: 16px;
  left: 50%;
  margin-left: -25px;
  background-color: #ddd;
  border-radius: 50%;
}

.timeline-panel-container {
  width: 50%;
  float: left;
}

.timeline-panel-container-inverted {
  width: 50%;
  float: right;
}

.timeline-panel {
  width: 90%;
  float: right;
  margin-right: 40px;
  border: 1px solid #d4d4d4;
  border-radius: 7px;
  padding: 20px 25px;
  position: relative;
  box-shadow: 0 1px 6px rgba(0, 0, 0, 0.175);
  background-color: #fff;
}

.timeline-panel-container-inverted .timeline-panel {
  float: left;
  margin-left: 40px;
}

.timeline-panel::after {
  position: absolute;
  top: 27px;
  right: -14px;
  display: inline-block;
  border-top: 14px solid transparent;
  border-left: 14px solid #fff;
  border-right: 0 solid #fff;
  border-bottom: 14px solid transparent;
  content: " ";
}

.timeline-panel-container-inverted .timeline-panel::after {
  border-left-width: 0;
  border-right-width: 14px;
  left: -14px;
  right: auto;
}

.timeline-heading h4 {
  color: #d82c2e;
}

/* EDUCATION */
#eudcation {
  background-color: #fff;
}

#education .heading h2 {
  color: #d82c2e;
}

footer .glyphicon {
  font-size: 25px;
  margin: 20px;
  color: #d82c2e;
  height: 30px;
}

.education-block {
  width: 100%;
  margin: 0 auto;
  text-align: center;
  padding: 10px;
  background: #ddd;
  border-radius: 10px;
  border: 2px solid #ccc;
  margin-bottom: 20px;
}

.education-block .glyphicon {
  font-size: 40px;
}

.education-block h4 {
  margin-bottom: 20px;
}

i p {
  margin-top: 3px;
  font-size: 1rem;
}

.education-block p {
  font-weight: bold;
}

.education-block .red-divider {
  margin-bottom: 20px;
}

/* PORTFOLIO */
#portfolio {
  background-color: #d82c2e;
}

#portfolio .heading h2 {
  color: #fff;
}

#portfolio .row {
  padding-bottom: 30px;
}

#portfolio .gray {
  width: 100%;
  filter: grayscale(100%);
  -webkit-filter: grayscale(100%);
}

#portfolio img {
  width: 100%;
  border-radius: 10px;
}

#portfolio .gray:hover {
  filter: none;
  -webkit-filter: none;
}

/* RECOMMANDATION */
#recommandation {
  background: white;
}

#recommandation .heading h2 {
  color: #d82c2e;
}

.carousel-control-next-icon {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23f00'%3e%3cpath d='M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
}

.carousel-control-prev-icon {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23f00'%3e%3cpath d='M11.354 1.646a.5.5 0 0 1 0 .708L5.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0z'/%3e%3c/svg%3e");
}

.carousel-indicators {
  top: 300px;
}

.carousel-indicators li {
  border-radius: 10px;
  width: 10px;
  height: 10px;
  border: 1px solid #d82c2e;
}

.carousel-indicators li.active {
  background-color: #d82c2e !important;
}

#myCarousel .carousel-item {
  padding: 100px 30px;
}

#myCarousel .carousel-item h3 {
  color: #d82c2e;
  font-style: italic;
}

/* FOOTER */
footer {
  background: #333;
  padding: 20px 0 40px;
}

footer .glyphicon:hover {
  font-size: 27px;
}

/* CONTACT */
#contact {
  background: #d82c2e;
}

#contact .heading h2 {
  color: #fff;
}

#contact-form {
  font-size: 20px;
  color: #fff;
}

.form-control {
  height: 50px;
  font-size: 18px;
}

.comments {
  font-style: italic;
  font-size: 18px;
  color: #fff;
  height: 25px;
}

#contact-form input[type=submit] {
  margin: 40px auto 0;
  display: block;
}

.fas.fa-angle-double-up {
  margin-left: 90%;
  color: #fff;
  font-size: 30px;
  transition: all 0.3s ease-in 0s;
}

.fas.fa-angle-double-up:hover {
  color: #d82c2e;
}

.thank-you {
  text-align: center;
  margin-top: 15px;
  font-weight: bold;
  font-size: 22px;
}







